<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<sqlRoot>
<sqlGroup name="ZcglTestMapper">
	<sql id="getListZcxxdj_select">
SELECT a.zcuuid,c.zcztmc,b.zclbmc,a.zc_dm,a.zcmc,a.zclx_dm,a.zclxmc,a.zclx,a.ggxh,
a.xlh,a.zcsl,a.gzrq,a.zcje,a.syr,a.syr_dm,a.sybmdd,a.bgr,a.bgr_dm,a.bgbmdd,
a.syzt,a.pzzh,a.jzbz,a.sfqc,a.bfnd,a.djr_dm,a.djsj
	</sql>
	<sql id="getListZcxxdj_fromwhere">
FROM zcgl_dj_zcxx a,zcgl_dm_zclb b,zcgl_dm_zczt c 
WHERE a.zczt_dm=?
AND a.zclb_dm=b.zclb_dm
AND a.zczt_dm=c.zczt_dm
	</sql>
	<sql id="getListZclb">SELECT zclb_dm,zclbmc FROM zcgl_dm_zclb</sql>
</sqlGroup>
</sqlRoot>