<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<sqlRoot>
<sqlGroup name="ZsMapper">
	<sql id="getTreeGroup">select id,name,parent_id,order_id from zs_group order by order_id</sql>
	<!-- 此处将id重命名为parent_id，是因为添加分类时需要获取一级分类的id做为parent_id进行保存 -->
	<sql id="getListGroupLevel1">select id parent_id,name from zs_group where parent_id &lt;=1</sql><!--小于符号使用 &lt;替换 -->
	<sql id="getListGroupLevel2">
select r.id group_id,CONCAT(t.`name`,'|',r.`name`) name from zs_group t,zs_group r
where t.parent_id=1 and t.id=r.parent_id
	</sql>
	<sql id="getPageContent_select">
select t.id,t.group_id,r.name,t.level,u.mc levelname,t.question,t.answer,s.nickname,t.share,
IF(t.share='01','分享知识','个人知识') sharename,t.createtime
</sql>
	<sql id="getPageContent_sqlExceptSelect">
from zs_content t,zs_group r,sys_user s,v_sys_xx_dict u
where t.group_id=r.id and t.user_id=s.id and t.`level`=u.BM and u.DLBM='NYCD'
	</sql>
</sqlGroup>
</sqlRoot>